In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.28-cp39-cp39-win_amd64.whl (7.2 MB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.19.4-cp39-cp39-win_amd64.whl (895 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.28 protobuf-3.19.4
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector
mydb =mysql.connector.connect(host="localhost",
                             user="root",
                             password="",
                             database='test')
print(mydb)
mycursor =mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001BCC1137850>

In [2]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('dsmln',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [7]:
#rename db not posiible so create new db and rename old tables
#mycursor.execute("CREATE DATABASE dsmln")
mycursor.execute("RENAME TABLE test.employee TO dsmln.employee")

In [9]:
#delete db
mycursor.execute("DROP DATABASE dsmlnew")

In [10]:
mycursor.execute("CREATE TABLE lucky(salary INT(10),dept varchar(20),comp varchar(20))")

In [ ]:
#change to another db
mycursor.execute("USE dsmln")

In [5]:
mycursor.execute("CREATE TABLE newtbl(x int(8) zerofill)")

In [7]:
#add column at begginning
mycursor.execute("ALTER TABLE newtbl ADD c VARCHAR(10) FIRST")

In [8]:
#add coloumn after specific col
mycursor.execute("ALTER TABLE newtbl ADD d VARCHAR(10) AFTER c")

In [9]:
#delete a column
mycursor.execute("ALTER TABLE newtbl DROP COLUMN d")

In [15]:
mycursor.execute("ALTER TABLE newtbl DROP COLUMN d")
mydb.rollback()

In [14]:
#cannot rollback after commit
mycursor.execute("ALTER TABLE newtbl ADD d VARCHAR(10) AFTER c")
mydb.commit()

In [16]:
#modify col 
mycursor.execute("ALTER TABLE newtbl CHANGE COLUMN c cnew int")

In [19]:
#display tables
mycursor.execute("SHOW TABLES IN dsmln")
for x in mycursor:
    print(x)

('employee',)

In [20]:
mycursor.execute("SHOW TABLES FROM dsmln")
for x in mycursor:
    print(x)

('employee',)

In [22]:
mycursor.execute("SHOW TABLES IN dsmln WHERE TABLES_in_dsmln ='employee'")
for x in mycursor:
    print(x)

('employee',)

In [23]:
mycursor.execute("TRUNCATE LUCKY")